<div>
    <h2>Events</h2>
    <div *ngFor="let event of events">
      <div class="event-card">
        <p><strong>Name:</strong> {{ event.evName }}</p>
        <p><strong>Date:</strong> {{ event.date }}</p>
        <p><strong>Time:</strong> {{ event.time }}</p>
        <p><strong>Venue:</strong> {{ event.venue }}</p>
        <p><strong>Committee Name:</strong> {{ event.comName }}</p>
        <button mat-button color="primary" (click)="approveEvent(event.evName)">Approve</button>
        <button mat-button color="warn" (click)="rejectEvent(event.evName)">Reject</button>
      </div>
      <hr>
    </div>
  </div>
  