

<div class="main">
    <div class="form-container">
        <p class="title">Login</p>
        <form class="form" >
            <div class="input-group">
                <label for="name">Username</label>
                <input type="text" name="name" id="name" [(ngModel)]="loginData.name" required>
            </div>
            <div class="input-group"> 
                <label for="password">Password</label>
                <input type="password" name="password" id="password" [(ngModel)]="loginData.password" required>
                
            </div>
            <div class="button-container">
                <button (click)="formSubmit()" class="sign">Log in as Student</button>
                <button (click)="formSubmit()" class="sign">Log in as Admin</button>
            </div>
        </form>
        <p class="signup">Don't have an account?
            <a rel="noopener noreferrer" routerLink="/signup" class="">Sign up</a>
        </p>
    </div>
</div>






