
<router-outlet></router-outlet>


<footer class="footer">
    <div class="left">
        <h1>Contact Us</h1>
        <p>Feel free to contact us via email, phone, or visit our office:</p>
        <h2>Email:</h2>
        <p><a href="mailto:info@eventease.com">info&#64;eventease.com</a></p>
    </div>
    <div class="right">
        <h2>Phone:</h2>
        <p>(+91) 913675410</p>
        <h2>Address:</h2>
        <p style="padding-right: -30px;">Kalyan , Maharashtra 421306</p>
        
    </div>
</footer>