.footer {
    display: flex;
    justify-content: space-between;
    padding: 2rem;
    background: #000000f8;
    color: white;
    letter-spacing: 0.15rem;
    text-transform: uppercase;
    font-weight: 100;
  }
  
  .footer h1 {
    margin-top: 0; /* Reset default margin */
  }
  .footer h2{
    font-weight: 500;
  }
  
  .footer .left,
  .footer .right {
    flex: 1;
    text-align: left;
  }
  
  .footer .right {
    text-align: right;
  }
  
  