* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
  }
  
  .header {
    position: sticky;
    top: 0;
    left: 0;
    width: 100%;
    padding: 5px 55px;
    padding-top: 17px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 10;
    background-color: #000;
  }
  
  /* ********NAVBAR******* */
  .logo {
    font-size: 25px;
    color: #fff;
    text-decoration: none;
    font-weight: 600;
    margin-left: -195px;
  }
  
  .letters {
    font-size: 36px;
  }
  
  .navbar a {
    font-size: 18px;
    color: #fff;
    text-decoration: none;
    font-weight: 500;
    margin-left: 35px;
    transition: .3s;
    position: sticky;
  }
  .navbar a:hover {
    color: #FC4445;
    cursor: pointer;
  }
  
  .ag-format-container {
    width: 1142px;
    margin: 0 auto;
    position: relative;
    z-index: 1;
  }
  
  .ag-courses_box {
    display: flex;
    align-items: flex-start;
    flex-wrap: wrap;
    padding: 50px 0;
  }
  
  .ag-courses_item {
    flex: 0 0 calc(33.33333% - 30px);
    margin: 0 15px 30px;
    overflow: hidden;
    border-radius: 28px;
    position: relative;
  }
  
  .ag-courses-item_link {
    display: block;
    padding: 30px 20px;
    background-color: white;
    overflow: hidden;
    position: relative;
  }
  
  .ag-courses-item_link:hover,
  .ag-courses-item_link:hover .ag-courses-item_date {
    text-decoration: none;
    color: #fff;
  }
  
  .ag-courses-item_link:hover .ag-courses-item_bg {
    transform: scale(10);
  }
  
  .ag-courses-item_title {
    min-height: 87px;
    margin: 0 0 25px;
    overflow: hidden;
    font-weight: bold;
    font-size: 30px;
    color: #000;
    z-index: 2;
    position: relative;
  }
  
  .ag-courses-item_date-box {
    font-size: 18px;
    color: #fff;
    z-index: 2;
    position: relative;
  }
  
  .ag-courses-item_date {
    font-weight: bold;
    color: #f9b234;
    transition: color .5s ease;
  }
  
  .ag-courses-item_bg {
    height: 128px;
    width: 128px;
    background-color: #f9b234;
    position: absolute;
    top: -75px;
    right: -75px;
    border-radius: 50%;
    transition: all .5s ease;
    z-index: 0;
  }
  
  .ag-courses_item:nth-child(2n) .ag-courses-item_bg {
    background-color: #3ecd5e;
  }
  
  .ag-courses_item:nth-child(3n) .ag-courses-item_bg {
    background-color: #e44002;
  }
  
  .ag-courses_item:nth-child(4n) .ag-courses-item_bg {
    background-color: #952aff;
  }
  
  .ag-courses_item:nth-child(5n) .ag-courses-item_bg {
    background-color: #cd3e94;
  }
  
  .ag-courses_item:nth-child(6n) .ag-courses-item_bg {
    background-color: #4c49ea;
  }
  
  @media only screen and (max-width: 979px) {
    .ag-courses_item {
      flex: 0 0 calc(50% - 30px);
    }
    .ag-courses-item_title {
      font-size: 24px;
    }
  }
  
  @media only screen and (max-width: 767px) {
    .ag-format-container {
      width: 96%;
    }
  }
  
  @media only screen and (max-width: 639px) {
    .ag-courses_item {
      flex: 0 0 100%;
    }
    .ag-courses-item_title {
      min-height: 72px;
      line-height: 1;
      font-size: 24px;
    }
    .ag-courses-item_link {
      padding: 22px 40px;
    }
    .ag-courses-item_date-box {
      font-size: 16px;
    }
  }
  
  .container {
    position: relative;
    width: 320px;
    margin: 100px auto 0 auto;
    perspective: 1000px;
    background-color: #000;
    z-index: 1; /* Adjusted z-index */
  }
  
  .carousel {
    position: absolute;
    width: 100%;
    height: 100%;
    transform-style: preserve-3d;
    animation: rotate360 60s infinite forwards linear;
    z-index: 2; /* Adjusted z-index */
  }
  
  .carousel__face {
    position: absolute;
    width: 300px;
    height: 187px;
    top: 20px;
    left: 10px;
    right: 10px;
    background-size: cover;
    box-shadow: inset 0 0 0 2000px rgba(0, 0, 0, 0.5);
    display: flex;
  }
  
  span {
    margin: auto;
    font-size: 2rem;
  }
  
  .carousel__face:nth-child(1) {
    background-image: url("https://images.pexels.com/photos/1141853/pexels-photo-1141853.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260");
    transform: rotateY( 0deg) translateZ(430px);
  }
  
  .carousel__face:nth-child(2) {
    background-image: url("https://images.pexels.com/photos/1258865/pexels-photo-1258865.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260");
    transform: rotateY( 40deg) translateZ(430px);
  }
  
  .carousel__face:nth-child(3) {
    background-image: url("https://images.pexels.com/photos/808466/pexels-photo-808466.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260");
    transform: rotateY( 80deg) translateZ(430px);
  }
  
  .carousel__face:nth-child(4) {
    background-image: url("https://images.pexels.com/photos/1394841/pexels-photo-1394841.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260");
    transform: rotateY(120deg) translateZ(430px);
  }
  
  .carousel__face:nth-child(5) {
    background-image: url("https://images.pexels.com/photos/969679/pexels-photo-969679.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260");
    transform: rotateY(160deg) translateZ(430px);
  }
  
  .carousel__face:nth-child(6) {
    background-image: url("https://images.pexels.com/photos/1834400/pexels-photo-1834400.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260");
    transform: rotateY(200deg) translateZ(430px);
  }
  
  .carousel__face:nth-child(7) {
    background-image: url("https://images.pexels.com/photos/1415268/pexels-photo-1415268.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260");
    transform: rotateY(240deg) translateZ(430px);
  }
  
  .carousel__face:nth-child(8) {
    background-image: url("https://images.pexels.com/photos/135018/pexels-photo-135018.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260");
    transform: rotateY(280deg) translateZ(430px);
  }
  
  .carousel__face:nth-child(9) {
    background-image: url("https://images.pexels.com/photos/1175135/pexels-photo-1175135.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260");
    transform: rotateY(320deg) translateZ(430px);
  }
  
  @keyframes rotate360 {
    from {
      transform: rotateY(0deg);
    }
    to {
      transform: rotateY(-360deg);
    }
  }
  