
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
  }
  
  .header {
    position: sticky;
    top: 0;
    left: 0;
    width: 100%;
    padding: 5px 55px;
    padding-top: 17px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 10;
    background-color: #000;
  }
  
  /* ********NAVBAR******* */
  .logo {
    font-size: 25px;
    color: #fff;
    text-decoration: none;
    font-weight: 600;
    margin-left: -195px;
    padding-left: 39px;
  }
  
  .letters {
    font-size: 36px;
  }
  
  .navbar a {
    font-size: 18px;
    color: #fff;
    text-decoration: none;
    font-weight: 500;
    margin-left: 35px;
    transition: .3s;
    position: sticky;
  }
  .navbar a:hover {
    color: #FC4445;
    cursor: pointer;
  }
  
  .ag-format-container {
    width: 1142px;
    margin: 0 auto;
    position: relative;
    z-index: 1;
  }
  
  .ag-courses_box {
    display: flex;
    align-items: flex-start;
    flex-wrap: wrap;
    padding: 50px 0;
  }
  
  .ag-courses_item {
    flex: 0 0 calc(33.33333% - 30px);
    margin: 0 15px 30px;
    overflow: hidden;
    border-radius: 28px;
    position: relative;
  }
  
  .ag-courses-item_link {
    display: block;
    padding: 30px 20px;
    background-color: white;
    overflow: hidden;
    position: relative;
    text-decoration: none;
  }
  
  .ag-courses-item_link:hover,
  .ag-courses-item_link:hover .ag-courses-item_date {
    text-decoration: none;
    color: #fff;
  }
  
  .ag-courses-item_link:hover .ag-courses-item_bg {
    transform: scale(10);
  }
  
  .ag-courses-item_title {
    min-height: 87px;
    margin: 0 0 25px;
    overflow: hidden;
    font-weight: bold;
    font-size: 30px;
    color: #000;
    z-index: 2;
    position: relative;
    text-decoration: none;
  }
  
  .ag-courses-item_date-box {
    font-size: 18px;
    color: #fff;
    z-index: 2;
    position: relative;
  }
  
  .ag-courses-item_date {
    font-weight: bold;
    color: #f9b234;
    transition: color .5s ease;
  }
  
  .ag-courses-item_bg {
    height: 128px;
    width: 128px;
    background-color: #f9b234;
    position: absolute;
    top: -75px;
    right: -75px;
    border-radius: 50%;
    transition: all .5s ease;
    z-index: 0;
  }
  
  .ag-courses_item:nth-child(2n) .ag-courses-item_bg {
    background-color: #3ecd5e;
  }
  
  .ag-courses_item:nth-child(3n) .ag-courses-item_bg {
    background-color: #e44002;
  }
  
  .ag-courses_item:nth-child(4n) .ag-courses-item_bg {
    background-color: #952aff;
  }
  
  .ag-courses_item:nth-child(5n) .ag-courses-item_bg {
    background-color: #cd3e94;
  }
  
  .ag-courses_item:nth-child(6n) .ag-courses-item_bg {
    background-color: #4c49ea;
  }
  
  @media only screen and (max-width: 979px) {
    .ag-courses_item {
      flex: 0 0 calc(50% - 30px);
    }
    .ag-courses-item_title {
      font-size: 24px;
    }
  }
  
  @media only screen and (max-width: 767px) {
    .ag-format-container {
      width: 96%;
    }
  }
  
  @media only screen and (max-width: 639px) {
    .ag-courses_item {
      flex: 0 0 100%;
    }
    .ag-courses-item_title {
      min-height: 72px;
      line-height: 1;
      font-size: 24px;
    }
    .ag-courses-item_link {
      padding: 22px 40px;
    }
    .ag-courses-item_date-box {
      font-size: 16px;
    }
  }
  
  .container {
    position: relative;
    width: 320px;
    margin: 100px auto 0 auto;
    perspective: 1000px;
    background-color: #000;
    z-index: 1; /* Adjusted z-index */
  }
  
  
  span {
    margin: auto;
    font-size: 2rem;
  }
  
  
  @keyframes rotate360 {
    from {
      transform: rotateY(0deg);
    }
    to {
      transform: rotateY(-360deg);
    }
  }
  
.counter-container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: row;
}

@media (max-width: 500px) {
  .counter-container {
    flex-direction: column;
  }
}

.counter {
  text-align: center;
}

.counter h3 {
  padding: 0.5rem 0;
  font-size: 2.5rem;
  font-weight: 800;
  color: #FFF;
}

.counter h6 {
  font-size: 2rem;
  padding-bottom: 1rem;
  color: #FFF;
}

.icon {
  height: 5rem;
  width: auto;
}
