<header class="header">
    <img src="/assets/EEE.gif" alt="logo" style="width: 120px; height: 120px; margin-right: -30px;">
    <a href="#" class="logo">EVENTEASE</a>
    <nav class="navbar">
        <a href="#" class="active">Home</a>
        <a href="#">About</a>
        <a href="#">Committies</a>
        <a href="#">Contact</a>
        <button type="button" routerLink="/login"
            style="margin-left: 100px; background-color: #FC4445; color: #fff; border: none; padding: 10px 20px; border-radius: 5px; text-transform: uppercase;">Login</button>
    </nav>
        
</header>

<section>
    <div style="background-color: #000;">
        <div class="ag-format-container">
            <div class="ag-courses_box">
                <div class="ag-courses_item">
                    <a href="#" class="ag-courses-item_link">
                        <div class="ag-courses-item_bg"></div>

                        <div class="ag-courses-item_title">
                            <br> Sportec
                        </div>

                        <div class="ag-courses-item_date-box">
                            <span class="ag-courses-item_date">
                                Sporting Events
                            </span>
                        </div>
                    </a>
                </div>

                <div class="ag-courses_item">
                    <a href="#" class="ag-courses-item_link">
                        <div class="ag-courses-item_bg"></div>

                        <div class="ag-courses-item_title">
                            <br>ECELL
                        </div>

                        <div class="ag-courses-item_date-box">
                            <span class="ag-courses-item_date">
                                Enterpreneurship Cell

                            </span>
                        </div>
                    </a>
                </div>

                <div class="ag-courses_item">
                    <a href="#" class="ag-courses-item_link">
                        <div class="ag-courses-item_bg"></div>

                        <div class="ag-courses-item_title">
                            <br> Revive
                        </div>

                        <div class="ag-courses-item_date-box">
                            <span class="ag-courses-item_date">
                                Grand Annual Fest

                            </span>
                        </div>
                    </a>
                </div>

                <div class="ag-courses_item">
                    <a href="#" class="ag-courses-item_link">
                        <div class="ag-courses-item_bg"></div>

                        <div class="ag-courses-item_title">
                            <br> GDSC
                        </div>

                        <div class="ag-courses-item_date-box">
                            <span class="ag-courses-item_date">
                                Google Developer Student Clubs
                            </span>
                        </div>
                    </a>
                </div>

                <div class="ag-courses_item">
                    <a href="#" class="ag-courses-item_link">
                        <div class="ag-courses-item_bg"></div>

                        <div class="ag-courses-item_title">
                            <br>S4DS
                        </div>

                        <div class="ag-courses-item_date-box">
                            <span class="ag-courses-item_date">
                                Committee for Data Science geeks

                            </span>
                        </div>
                    </a>
                </div>

                <div class="ag-courses_item">
                    <a href="#" class="ag-courses-item_link">
                        <div class="ag-courses-item_bg"></div>

                        <div class="ag-courses-item_title">
                            <br> Antarang

                        </div>

                        <div class="ag-courses-item_date-box">
                            <span class="ag-courses-item_date">
                                Cultural Club
                            </span>
                        </div>
                    </a>
                </div>
            </div>
        </div>
    </div>
</section>

