
<body>
    
    <div class="form-container">
        <p class="title">SignUp</p>
        <form class="form">
            <div class="input-group">
                <label for="username">Username</label>
                <input type="text" name="username" id="username" placeholder="">
            </div>
            <div class="input-group">
                <label for="username">College ID</label>
                <input type="text" name="username" id="username" placeholder="">
            </div>
            <div class="input-group">
                <label for="username">Department</label>
                <input type="text" name="username" id="username" placeholder="">
            </div>
            <div class="input-group">
                <label for="username">Phone Number</label>
                <input type="text" name="username" id="username" placeholder="">
            </div>
            <div class="input-group"> 
                <label for="password">Password</label>
                <input type="password" name="password" id="password" placeholder="">
                
            </div>
            
            <button type="submit" class="sign">Sign in</button>
        </form>
        <p class="signup">Don't have an account?
            <a rel="noopener noreferrer" routerLink="/signup" class="">Sign up</a>
        </p>
    </div>





</body>
