
<header class="header">
  <img src="/assets/EEE.gif" alt="logo" style="width: 120px; height: 120px; margin-right: -30px;">
  <a class="logo">EVENTEASE</a>
  <nav class="navbar">
      <!-- Add any additional links or buttons here -->
      <button type="button" routerLink="/" style="background-color: #FC4445; margin-left: 15px; color: #fff; border: none; padding: 10px 20px; border-radius: 5px; text-transform: uppercase;">Logout</button>
  </nav>
</header>



<section style="background-color: #000;">
    <div class="content">
      <br><br><br><br><br><br>
      <div class="main">
        <div class="form-container">
          <p class="title">Add New Event</p>
          <form class="form">
            <div class="input-group">
              <label for="eventName">Event Name</label>
              <input type="text" name="eventName" id="eventName" [(ngModel)]="evName" placeholder="">
            </div>
            <div class="input-group">
              <label for="date">Date</label>
              <input matInput [matDatepicker]="picker" placeholder="Choose a date" id="date" name="date" [(ngModel)]="date" class="custom-input">
              <mat-datepicker-toggle matSuffix [for]="picker" style="background-color: aliceblue; border-radius: 5px;"></mat-datepicker-toggle>
              <mat-datepicker #picker></mat-datepicker>
            </div>

        
            
            <div class="input-group" style="background-color: #111;">
              <mat-form-field class="custom-timepicker">
                
                <input matInput [ngxTimepicker]="timepicker" placeholder="Select time" name="time" [(ngModel)]="time" class="custom-input" style="background-color: #111; color: rgba(243, 244, 246, 1);">
                <ngx-material-timepicker #timepicker></ngx-material-timepicker>
              </mat-form-field>
            </div>
            
            <div class="input-group">
              <label for="venue">Venue</label>
              <input type="text" name="venue" id="venue" [(ngModel)]="venue" placeholder="">
            </div>

            <div class="input-group" style="margin-bottom: 10px;">
              <label for="venue">Registration Link</label>
              <input type="text" name="venue" id="venue" [(ngModel)]="venue" placeholder="">
            </div>

            

            <button type="submit" (click)="addEvent()" class="sign">Add Event</button>

            
          </form>
        </div>
      </div>
    </div>
  </section>
  