* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
  }

  .header {
    position: sticky;
    top: 0;
    left: 0;
    width: 100%;
    padding: 5px 55px;
    padding-top: 17px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 10;
    background-color: #000;
}

.logo {
    font-size: 25px;
    color: #fff;
    text-decoration: none;
    font-weight: 600;
}

.navbar {
    display: flex;
    align-items: center;
}

.navbar a {
    font-size: 18px;
    color: #fff;
    text-decoration: none;
    font-weight: 500;
    margin-left: 35px;
    transition: .3s;
}

.navbar a:hover {
    color: #FC4445;
    cursor: pointer;
}
  
  .main {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
  }
  
  .form-container {
    width: 320px;
    border-radius: 0.75rem;
    background-color: #111;
    padding: 2rem;
    color: rgba(243, 244, 246, 1);
    box-shadow: 0 0 20px rgba(255, 255, 255, 0.5);
  }
  
  .title {
    text-align: center;
    font-size: 1.5rem;
    line-height: 2rem;
    font-weight: 700;
  }
  
  .form {
    margin-top: 1.5rem;
  }
  
  .input-group {
    margin-top: 0.25rem;
    font-size: 0.875rem;
    line-height: 1.25rem;
  }
  
  .input-group label {
    display: block;
    color: rgba(156, 163, 175, 1);
    margin-bottom: 4px;
  }
 
  
  .input-group input {
    width: 100%;
    border-radius: 0.375rem;
    border: 1px solid rgba(55, 65, 81, 1);
    outline: 0;
    background-color: rgba(17, 24, 39, 1);
    padding: 0.75rem 1rem;
    color: rgba(243, 244, 246, 1);
    margin-bottom: 10px;
  }
  
  .input-group input:focus {
    border-color: rgba(167, 139, 250);
  }
  
  .sign {
    display: block;
    width: 100%;
    background-color: #FC4445;
    padding: 0.75rem;
    text-align: center;
    color: #fff;
    border: none;
    border-radius: 0.375rem;
    font-weight: 600;
    margin-bottom: 20px;
  }
  
  .signup {
    text-align: center;
    font-size: 0.75rem;
    line-height: 1rem;
    color: rgba(156, 163, 175, 1);
  }
  .header {
    position: sticky;
    top: 0;
    left: 0;
    width: 100%;
    padding: 5px 55px;
    padding-top: 17px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 10;
    background-color: #000;
  }
  .logo {
    font-size: 25px;
    color: #fff;
    text-decoration: none;
    font-weight: 600;
    margin-left: -500px;
  }
  
  .letters {
    font-size: 36px;
  }
  
  .navbar a {
    font-size: 18px;
    color: #fff;
    text-decoration: none;
    font-weight: 500;
    margin-left: 35px;
    transition: .3s;
    position: sticky;
  }
  .navbar a:hover {
    color: #FC4445;
    cursor: pointer;
  }
  .custom-input {
    color: #fff; /* Text color */
    background-color: rgb(221, 228, 243); /* Background color */
    border-radius: 0.375rem; /* Border radius */
    border: 1px solid rgba(55, 65, 81, 1); /* Border color */
    padding: 0.5rem; /* Padding */
    outline: none; /* Remove outline */
    
  }
  
  .custom-input:focus {
    border-color: rgba(167, 139, 250); /* Border color on focus */
  }
  .mat-datepicker-toggle .mat-icon {
    color: #fff; /* White color */
}

  
  .custom-timepicker {
    width: 100%;
    margin-top: 1rem;
  }
  
  .custom-timepicker input {
    color: #fff; /* Text color */
    background-color: rgba(17, 24, 39, 1);
    border-radius: 0.375rem; /* Border radius */
    border: 1px solid rgba(55, 65, 81, 1); /* Border color */
    padding: 0.5rem; /* Padding */
    outline: none; /* Remove outline */
  }
  
  .custom-timepicker input:focus {
    border-color: rgba(167, 139, 250); /* Border color on focus */
  }
  
  
  .mdc-text-field--filled:not(.mdc-text-field--disabled) {
    background-color: #111;
}