<header class="header">
    <img src="/assets/EEE.gif" alt="logo" style="width: 120px; height: 120px; margin-right: -30px;">
    <a href="#" class="logo">EVENTEASE</a>
    <nav class="navbar">
        <a routerLink="/viewcommittee" >View All Committees</a>
        <a routerLink="/dashboard1" >Dashboard</a>

        <button type="button" routerLink="/"
            style="margin-left: 100px; background-color: #FC4445; color: #fff; border: none; padding: 10px 20px; border-radius: 5px; text-transform: uppercase;">Logout</button>
    </nav>
</header>



<section style="background-color: #000;">
    <div class="content">
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <div class="main">
            <div class="form-container">
                <p class="title">Add New Committee For Your College</p>
                <form class="form">
                    <div class="input-group">
                        <label for="comName">Committee Name</label>
                        <input type="text" name="comName" id="comName" placeholder="" [(ngModel)]="comData.comName" [(ngModel)]="userData.name">
                    </div>
                    
                    <div class="input-group">
                        <label for="dept">Department</label>
                        <input type="text" name="dept" id="dept" placeholder="" [(ngModel)]="comData.dept">
                    </div>
                    <div class="input-group">
                        <label for="info">Information About Committee</label>
                        <input type="text" name="info" id="info" placeholder="" [(ngModel)]="comData.info">
                    </div>
                    <div class="input-group">
                        <label for="password">Password</label>
                        <input type="password" name="password" id="password" placeholder="" [(ngModel)]="userData.password">
                    </div>
                    <button type="submit" (click)="addCommittee()" class="sign">Add Committee</button>
                </form>
            </div>
        </div>
    </div>
</section>
