<header class="header">
    <img src="/assets/EEE.gif" alt="logo" style="width: 120px; height: 120px; margin-right: -30px;">
    <a href="#" class="logo" style="margin-left: -300px;">EVENTEASE</a>
    <nav class="navbar">
        <a href="#" class="active">Home</a>
        <a routerLink="/about">About</a>
        <a href="#committees">Committiees</a>
        <a routerLink="/contact">Contact</a>
        <button type="button" routerLink="/login"
            style="margin-left: 100px; background-color: #FC4445; color: #fff; border: none; padding: 10px 20px; border-radius: 5px; text-transform: uppercase;">Login</button>
    </nav> 
</header>

<section style="background-color: black; height: 100%;">
    <div class="max-w-lg mx-auto bg-black shadow-md rounded px-8 pt-6 pb-8 mb-4">
        <h2 class="text-white text-2xl mb-4">Contact Us</h2>
        <div class="mb-4">
            <label class="block text-gray-300 text-sm font-bold mb-2" for="email">
                Email
            </label>
            <input
                class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"
                id="email" type="email" placeholder="Email">
        </div>
        <div class="mb-4">
            <label class="block text-gray-300 text-sm font-bold mb-2" for="subject">
                Subject
            </label>
            <input
                class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"
                id="subject" type="text" placeholder="Subject">
        </div>
        <div class="mb-6">
            <label class="block text-gray-300 text-sm font-bold mb-2" for="message">
                Your Message
            </label>
            <textarea
                class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"
                id="message" placeholder="Your Message"></textarea>
        </div>
        <div class="flex items-center justify-between">
            <button
                class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline"
                type="button">
                Send
            </button>
        </div>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
    </div>
</section>